    /* body {
        margin-top: -0px;
        padding: 0;
        margin-bottom: -90%;
    } */
    
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /*La barre de navigation */
    
    .menu p {
        display: inline-block;
        position: relative;
        top: -90px;
        left: 30%;
        margin: 15px;
        font-size: larger;
        font-family: 'Inter', sans-serif;
        margin-right: 3%;
    }
    
    .pictogramme {
        position: relative;
        top: -150px;
        /* right: 100px; */
        float: right;
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
    }
    
    .pictogramme img {
        margin: 5px;
        width: 30px;
        margin-right: 35px;
    }
    /* =================================================================*/
    /*Le bear sur la banquise */
    
    #bear_glace {
        border: solid 150px rgb(226, 224, 224);
        border-bottom: 70px solid rgb(226, 224, 224);
        border-top: 90px solid rgb(226, 224, 224);
        width: max-content;
        height: max-content;
        /* This will center the element horizontally */
        /* margin-left: 12%;
        height: 450px; */
        /* This centers the child elements horizontally inside the flex container */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        position: relative;
        left: 6%;
    }
    
    #bear_glace img {
        height: 370px;
        width: 900px;
        transform: scaleX(-1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #superpose {
        position: absolute;
        left: 100px;
        top: 70px;
        bottom: 10px;
        font-size: 22px;
        font-family: 'Inter', sans-serif;
    }
    
    #superpose button {
        color: #6DE1FC;
        padding: 7px 12px;
        border-radius: 10%;
        border: solid 2px #6DE1FC;
    }
    /* =================================================================*/
    /*Les grilles d'actualités*/
    
    .actualites {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #6DE1FC;
    }
    
    .actualites p {
        position: absolute;
        top: 850px;
        color: black;
        font-size: 12px;
    }
    
    .grille {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
        gap: 10px;
    }
    
    .one {
        display: inline-block;
        width: max-content;
        background-image: url('sunset/_team.jpg');
        /* Assurez-vous que le chemin de l'image est correct */
        background-size: cover;
        /* Pour couvrir tout le cadre avec l'image */
        padding: 10px;
        /* Pour un peu d'espace autour du texte */
        height: 300px;
        width: 400px;
        border-radius: 5%;
    }
    
    .one:nth-of-type(2) {
        background-image: url('sunset/_dechets.jpg');
    }
    
    .one:nth-of-type(3) {
        background-image: url('sunset/_bureau_portable.jpg');
    }
    
    .section-text {
        position: relative;
        top: 130px;
        background-color: rgba(217, 217, 217, 1);
        /* Fond gris pour le texte */
        font-family: 'Inter', sans-serif;
        font-size: small;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5%;
        font-weight: 700;
        line-height: 16.;
        /* Couleur du texte (changez selon vos préférences) */
    }
    
    .categoriesdate {
        display: flex;
        font-weight: 700;
    }
    
    .categoriesdate h3 {
        display: flex;
        font-size: 23px;
    }
    
    .categoriesdate p {
        position: absolute;
        margin-left: 170px;
        margin-top: 26px;
    }
    
    .voirplus {
        display: flex;
        justify-content: center;
        /* Centrage horizontal */
        align-items: center;
        /* Centrage vertical */
        height: 100px;
        /* ou toute autre hauteur, selon vos besoins */
    }
    
    .voirplus button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
        padding-left: 30px;
        padding-right: 30px;
        background: rgba(109, 183, 252, 1);
        color: white;
        border-radius: 6px;
        border-color: rgba(109, 183, 252, 1);
        font-family: 'Inter', sans-serif;
    }
    
    .text {
        position: relative;
        bottom: 50px;
        text-align: center;
        padding: 40px;
    }
    
    ._collegues_travail {
        background-color: rgba(217, 217, 217, 0.32);
        display: flex;
        padding: 30px;
    }
    
    ._collegues_travail img {
        position: relative;
        left: 10%;
    }
    
    #titre {
        display: inline;
        position: relative;
        font-size: 27px;
        bottom: -100px;
        left: 48%;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #6DE1FC;
    }
    
    ._collegues_travail p {
        position: relative;
        top: 100px;
        font-size: small;
        padding-left: 9%;
        color: black;
    }
    
    .savoirplus {
        position: relative;
        bottom: 60px;
        left: 48%;
        width: 200px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
        padding-left: 30px;
        padding-right: 30px;
        background: rgba(109, 183, 252, 1);
        color: white;
        border-radius: 6px;
        border-color: rgba(109, 183, 252, 1);
        font-family: 'Inter', sans-serif;
    }
    /* la newsletter */
    /* .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
    } */
    
    .newsletter {
        position: relative;
        top: -48px;
        background-color: rgba(109, 235, 252, 0.4);
        display: flex;
        flex-direction: column;
        /* Organise les enfants verticalement */
        align-items: center;
        /* Centre les enfants horizontalement */
        text-align: center;
        /* Centre le texte pour tous les éléments textuels */
        padding: 20px;
    }
    
    .newsletter h3 {
        font-size: 27px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #6DE1FC;
    }
    
    .newsletter form {
        display: flex;
    }
    
    .newsletter input[type="text"] {
        width: 576px;
        font-weight: 700;
        color: black;
    }
    
    .newsletter input[type="submit"] {
        color: white;
        background-color: rgba(71, 76, 82, 1);
        padding: 3px;
    }
    
    .footer {
        background-color: rgba(71, 76, 82, 1);
        color: white;
        position: relative;
        /* top: -50px; */
        margin-top: -50px;
    }
    
    .footer img {
        filter: brightness(0) invert(1) saturate(0);
        /* Ajustez la valeur pour changer la teinte */
    }
    
    @media (min-width: 1400px) {
        #bear_glace {
            border: solid 150px rgb(226, 224, 224);
            border-bottom: 70px solid rgb(226, 224, 224);
            border-top: 90px solid rgb(226, 224, 224);
            width: max-content;
            height: max-content;
            /* This will center the element horizontally */
            margin-left: 12%;
        }
        #bear_glace img {
            height: 370px;
            width: 900px;
            transform: scaleX(-1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #superpose {
            position: absolute;
            left: 100px;
            top: 70px;
            bottom: 10px;
            font-size: 22px;
            font-family: 'Inter', sans-serif;
        }
        #superpose button {
            color: #6DE1FC;
            padding: 7px 12px;
            border-radius: 10%;
            border: solid 2px #6DE1FC;
        }
    }